
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@500&display=swap);

body {
    font-family: 'Montserrat', sans-serif;
}
.register h2 {
    color: black;
    font-size: 1.8rem;
    font-weight: 800;
    word-wrap: break-word;
    margin-top: 20px;
}
.register input {
    width: 100%; 
   padding: 15px;
    background-color: white; border: 1px solid #CECECE; 
    margin-bottom: 18px;
}
input.button {
    width: 110%;
    background: #E16A00; 
    border-radius: 5px; 
    border: 1px solid #CECECE;
    margin-top: 20px;
    color: white;
font-size: 1.2rem;
font-family: Crimson Text;
font-weight: 700;
word-wrap: break-word;
}
.register {
width: 30%;
height: auto;
background-color:white ;
display: flex;
flex-direction: column;
row-gap: 10%;
align-items: center;
padding: 10px;
}
.form-login {
    width: 80%;
    margin-right: 25px;
}