/* .main-container {
    background-color: brown;
    /* width: 100%; */
/* }  */

.middle {
    /* background-color: blueviolet; */
  
    width: 75%;
    margin: 0 auto;
  }
  
  .middle-text {
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%; /* 70.627px */
  }
  .btn {
    width: 400px;
    height: 60px;
    flex-shrink: 0;
  }
  
  .middle-input {
    display: flex;
    justify-content: space-between;
  }
  .middle-input input {
    padding: 13px;
    width: 42%;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  .note input {
    width: 96.5%;
    padding-left: 28px;
    padding-top: 13px;
    padding-bottom: 110px;
    margin-bottom: 60px;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  
  .btn {
    background-color: #e16a00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    font-size: 1rem;
  }
  

  @media (max-width: 768px) {
  .middle-text {
  padding-top: 60px;
  }

  .note input {
    width: 93%;
     /* margin-left: 0 auto;
     margin-right: 0 auto; */
  }

  .middle-input  {
    /* padding: 13px; */
    width: 100%;
    display: flex;
    gap: 60px;
    /* justify-content: space-between; */
    /* margin-left: 0 auto;
    margin-right: 0 auto; */
   
  }

  .middle-text h2 {
    text-align: center;
  }

  .btn {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0px 8px;

  }
}